.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60%;
    height: 10vh;
    margin: 0 auto;
}

.navbar_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    gap: 5%;
}

.title_left-side {
    
}

.title_container:hover {
    cursor: pointer;
}

.title_left-side_word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
}

.title_left-side_word_big {
    font-size: 12px;
}

.title_right-side_word {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    font-size: 26px;
}

/* --- Responsive Design --- */

@media (max-width: 1200px) {
    .Navbar {
        max-width: 80%;
        height: 12vh;
    }
    .navbar_container {
        justify-content: space-between;
    }
    .title_container {
        gap: 4%;
    }
    .title_right-side_word {
    }
}

@media (max-width: 992px) {
    .Navbar {
        max-width: 90%;
        height: 14vh;
        padding: 0 10px;
    }
    .navbar_container {
        height: auto;
    }
    .title_container {
        gap: 3%;
    }
    .title_left-side_word_big {
    }
    .title_right-side_word {
    }
}

@media (max-width: 768px) {
    .Navbar {
        max-width: 100%;
        height: auto;
        padding: 10px 15px;
        margin-bottom: 10rem;
    }
    .navbar_container {
        flex-direction: column;
    }
    .button_list {
        display: none;
    }
    .title_container {
        gap: 5%;
        display: flex;
        justify-content: start;
        align-items: end;
    }
    .title_left-side_word_big {
    }
    .title_right-side_word {
        margin-left: 5%;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .Navbar {
        padding: 5px;
    }
    .navbar_container {
        align-items: center;
    }
    .title_container {
        gap: 1%;
    }
    .title_left-side_word_big {
    }
    .title_right-side_word {
    }
}
